.team {
  padding-top: 90px;
  padding-bottom: 50px;

  &__title {
    text-align: center;
    max-width: 880px;
    margin: 0 auto 24px;
  }

  &__subtitle {
    text-align: center;
    max-width: 895px;
    margin: 0 auto 85px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  &__item {
    text-align: center;

    &-img {
      position: relative;
      width: 100%;
      max-width: 330px;
      height: 360px;
      overflow: hidden;
      border-radius: 60px;
      margin: 0 auto 28px;

      &::before {
        position: absolute;
        z-index: 2;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 60px;
        border: 20px solid #DEF1FF;
      }

      img {
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-name {
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      letter-spacing: 0.01em;
    }

    &-desc {
      margin-top: 4px;
      color: var(--color-gray-3);
    }
  }

}

@media screen and (max-width: 1480px) {
  .team {
    &__item {
      &-img {
        height: 280px;

        &::before {
          border-width: 13px;
        }
      }
    }
  }

}

@media screen and (max-width: 1200px) {
  .team {
    &__subtitle {
      margin-bottom: 45px;
    }

    &__list {
      gap: 16px;
    }

    &__item {
      &-img {
        height: 226px;
      }
    }
  }

}

@media screen and (max-width: 992px) {
  .team {
    padding-top: 60px;
    padding-bottom: 30px;

    &__title {
      text-align: left;
    }

    &__subtitle {
      text-align: left;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 30px;
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    &__item {
      &-img {
        height: 330px;
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .team {
    &__list {
      display: flex;
      gap: 0;
    }

    &__item {
      width: 272px;

      &-img {
        height: 272px;
        border-radius: 40px;
        margin-bottom: 10px;

        &::before {

          border-radius: 40px;
        }
      }
    }
  }

}