.reviews {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  .case {
    position: relative;
  }

  &__head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 60px;
  }

  &__title {
    max-width: 440px;
  }

  &__btn-more {
    margin-left: auto;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 50%;
    padding-right: 20px;
  }

  &__wrap {
    width: 50%;
    padding-left: 20px;
  }

  &__slider {
    border-radius: 10px;
  }


  &__pagination {
    margin-top: 30px;
  }

  &__bg {
    z-index: -1;
    position: absolute;
    bottom: -30px;
    left: 185px;
  }
}