.counter {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.13;
  color: #fff;
  padding: 4px 22px;
  border-radius: 100px;

  &.--blue {
    background-color: var(--color-blue);
  }

  &.--purple {
    background-color: var(--color-purple);
  }

  &.--red {
    background-color: var(--color-red);
  }
}

@media screen and (max-width: 768px) {
  .counter {
    font-size: 14px;
    line-height: 16px;
    padding: 2px 16px;
  }

}