.blog-item {
  --blog-item-img-width: 452px;

  padding-bottom: 100px;

  &__wrap {
    display: flex;
  }

  &__left {
    width: calc(100% - var(--blog-item-img-width));
    padding-right: 165px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__date {
    color: var(--color-blue);
    letter-spacing: 0.02em;
    margin-bottom: 30px;
  }

  &__foot {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 32px;
    border-bottom: 1px solid #EFEFFF;
  }

  &__label {
    padding: 5px 20px;
    background: #EFEFFF;
    border-radius: 4px;
    letter-spacing: 0.02em;
  }

  &__share {
    margin-left: auto;
  }

  &__right {
    width: var(--blog-item-img-width);
  }
}

@media screen and (max-width: 1480px) {

  .blog-item {

    // --blog-item-img-width: 300px;
    &__left {
      padding-right: 50px;
    }
  }

}

@media screen and (max-width: 1200px) {
  .blog-item {
    &__left {
      width: 100%;
      padding-right: 0;
    }

    &__right {
      display: none;
    }
  }

}

@media screen and (max-width: 768px) {
  .blog-item {
    padding-bottom: 60px;

    &__title {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 16px;
    }

    &__title {
      margin-bottom: 26px;
    }

    &__date {
      margin-bottom: 8px;
    }

    &__label {
      font-size: 14px;
      line-height: 20px;
    }
  }

}