.form {
  // padding: 40px;
  border-radius: 20px;
  background-color: var(--color-white);

  &__title {
    margin-bottom: 10px;
  }

  &__desc {
    color: var(--color-gray-1);
    margin-bottom: 24px;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__field {
    width: calc(100% / 2 - 12px);
    margin-bottom: 24px;

    &.--textarea {
      width: 100%;
    }
  }

  &__btn {
    display: inline-flex;
    margin-top: 24px;
  }
}

@media screen and (max-width: 768px) {
  .form {
    &__field {
      width: 100%;
    }

    &__checkbox {
      .checkbox {
        &__text {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

    &__btn {
      width: 100%;
    }
  }

}