.prog {
  border: 1px solid #EFEFFF;
  border-radius: 20px;
  background: #F9F9F9;
  margin-bottom: 28px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &.--open {
    .prog {
      &__arrow {
        svg {
          transform: rotate(180deg);
        }
      }

      &__body {
        padding-top: 24px;
        padding-bottom: 24px;
        border-color: var(--color-purple-dark);
      }
    }
  }

  &.--show {
    .prog {
      &__body {
        height: auto;
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    padding: 24px;
    letter-spacing: 0.02em;
    cursor: pointer;

  }

  &__module {
    font-weight: 600;
    margin-right: 8px;
    white-space: nowrap;
    color: var(--color-purple-dark);
  }

  &__name {
    font-weight: 600;
    margin-right: 10px;
  }

  &__section {
    margin-left: auto;
    white-space: nowrap;
    color: var(--color-gray-3);
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: 10px;

    svg {
      transition: .3s;

    }
  }

  &__body {
    height: 0;
    padding: 0 24px;
    transition: var(--transition);
    border-top: 2px solid transparent;
  }
}

@media screen and (max-width: 1200px) {
  .prog {
    &__module {
      span {
        display: none;
      }
    }

    &__section {
      span {
        display: none;
      }
    }
  }

}

@media screen and (max-width: 992px) {
  .prog {

    &__module,
    &__section {
      span {
        display: inline;
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .prog {
    &__head {
      position: relative;
      flex-wrap: wrap;
      padding: 24px 16px;
    }

    &__module,
    &__name,
    &__section {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }

    &__section {
      margin-bottom: 0;
    }

    &__arrow {
      position: absolute;
      top: 24px;
      right: 16px;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
    }

    &__body {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

}