.t2 {
  letter-spacing: 0.02em;
  color: var(--color-gray-1);

  p {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .t2 {
    font-size: 14px;
    line-height: 20px;
  }

}