.articles {
  padding-top: 50px;
  padding-bottom: 50px;

  &__head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 60px;
  }

  &__title {
    max-width: 710px;
  }

  &__btn-more {
    margin-left: auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }


}