.similar {
  &.--hidden {
    display: none;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media screen and (max-width: 1200px) {
  .similar {
    &__list {
      grid-template-columns: repeat(1, 1fr)
    }
  }

}

@media screen and (max-width: 992px) {
  .similar {
    display: none;

    &.--hidden {
      display: block;
    }

    &__list {
      grid-template-columns: repeat(2, 1fr)
    }
  }

}

@media screen and (max-width: 768px) {
  .similar {
    &__list {
      gap: 0;
    }

    &__item {
      width: 272px;
    }
  }

}