.footer {
  margin-top: auto;

  &__top {
    padding-top: 75px;
    padding-bottom: 100px;
    color: var(--color-white);
    background: var(--color-purple-dark);

    &-wrap {
      display: flex;
      justify-content: space-between;
    }
  }

  &__col {
    width: 200px;

    &:nth-of-type(1) {
      width: 295px;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 30px;

    svg {

      width: 180px;
      height: 62px;
    }

    path[fill="#040404"] {
      fill: #fff;
    }
  }

  &__desc {
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 48px;
  }

  &__pays {
    display: flex;
    align-items: center;
  }

  &__pay {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 11px;
  }

  &__nav {
    &-item {
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      opacity: 0.8;
      color: var(--color-white);
      letter-spacing: 0.02em;
      cursor: pointer;
      transition: var(--transition);

      &:hover {
        opacity: 1;
      }
    }
  }

  &__phone {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.13;
    margin-bottom: 15px;

    a {
      color: var(--color-white);
    }
  }

  &__emails {
    opacity: 0.8;
    font-weight: 400;
    line-height: 1.13;
    letter-spacing: 0.01em;
    margin-bottom: 15px;

    a {
      color: var(--color-white);
    }
  }

  &__address {
    opacity: 0.8;
    font-weight: 400;
    line-height: 1.13;
    letter-spacing: 0.01em;
  }

  &__socials {
    margin-top: 39px;
  }


  &__bot {
    color: var(--color-white);
    background-color: var(--color-black);
    padding-top: 12px;
    padding-bottom: 12px;

    &-wrap {
      display: flex;
    }
  }

  &__copy {
    opacity: 0.8;
    font-size: 14px;

  }

  &__links {
    margin-left: auto;

    &-item {
      opacity: 0.8;
      font-size: 14px;
      line-height: 1.13;
      color: var(--color-white);
      margin-right: 40px;
      transition: var(--transition);

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

}