.why {
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-of-type(odd) {
      .why {
        &__img {
          margin-left: auto;
        }
      }
    }

    &:nth-of-type(even) {
      .why {
        &__content {
          order: 2;
        }

        &__img {
          order: 1;
          margin-right: auto;
        }
      }
    }
  }


  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 580px;
  }

  &__counter {
    margin-bottom: 22px;
  }

  &__name {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: 0.01em;
    margin-bottom: 19px;
  }

  &__img {
    width: 100%;
    max-width: 700px;
  }
}

@media screen and (max-width: 1480px) {
  .why {
    &__item {
      &:nth-of-type(even) {
        .why {
          &__content {
            margin-left: auto;
          }
        }
      }
    }

    &__img {
      max-width: 550px;
    }

    &__content {
      max-width: 510px;
    }
  }

}

@media screen and (max-width: 1200px) {
  .why {
    &__content {
      max-width: 460px;
    }

    &__name {
      font-size: 28px;
    }

    &__img {
      max-width: 460px;
    }
  }

}

@media screen and (max-width: 992px) {
  .why {
    &__item {
      flex-direction: column;
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      order: 1;
      margin-right: auto;
      max-width: 100%;
      height: 270px;
      margin-bottom: 35px;
    }

    &__content {
      order: 2;
      max-width: 100%;
    }

    &__name {
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .why {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      text-align: left;
      margin-bottom: 40px;
    }

    &__item {
      margin-bottom: 30px;
    }

    &__img {
      height: 175px;
      margin-bottom: 20px;
    }

    &__counter {
      margin-bottom: 20px;
    }

    &__name {
      font-size: 20px;
      line-height: 26px;
    }

    &__btn-more {
      margin-top: 32px;

      &.--hidden {
        display: flex;
      }
    }
  }

}