.methodology {
  padding-top: 50px;
  padding-bottom: 50px;

  &__wrap {
    position: relative;
    padding: 123px 105px 140px 0;
    background: linear-gradient(135deg, rgba(46, 144, 209, 0.1) 0%, rgba(120, 37, 141, 0.1) 100%);
    border-radius: 40px;
  }

  &__img {
    position: absolute;
    left: 84px;
    bottom: -68px;
  }

  &__content {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 24px;

    u {
      color: inherit;
      background: linear-gradient(132.51deg, #2E90D1 0, #78258D 83.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }
  }

  &__text {
    ul {
      li {
        position: relative;
        padding-left: 36px;
        margin-bottom: 16px;

        &::before {
          content: '';
          position: absolute;
          top: 6px;
          left: 0;
          width: 16px;
          height: 16px;
          background: linear-gradient(135deg, #2E90D1 0%, #78258D 100%);
          border-radius: 50%;
        }
      }
    }

  }
}

@media screen and (max-width: 1480px) {
  .methodology {
    &__wrap {
      padding: 100px 70px;
    }

    &__img {
      left: 30px;
    }

    &__content {
      max-width: 530px;
    }
  }

}

@media screen and (max-width: 1200px) {
  .methodology {
    &__wrap {
      padding: 70px 50px;
    }

    &__img {
      width: 450px;
      left: 0px;
    }

    &__content {
      max-width: 440px;
    }
  }

}

@media screen and (max-width: 992px) {
  .methodology {
    &__wrap {
      padding: 40px 40px 52px;
    }

    &__img {
      width: 288px;
      height: 366px;
      top: 40px;
      left: 40px;
      bottom: auto;
    }

    &__content {
      max-width: 100%;
    }

    &__title {
      display: flex;
      align-items: center;
      height: 366px;
      padding-left: 316px;
    }
  }

}

@media screen and (max-width: 768px) {
  .methodology {
    padding-top: 30px;
    padding-bottom: 30px;

    &__wrap {
      padding: 32px 16px 30px;
      flex-direction: column;
    }

    &__img {
      position: static;
      width: 215px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }

    &__title {
      height: auto;
      padding-left: 0;
      margin-bottom: 20px;
    }

    &__text {
      ul {
        li {
          padding-left: 20px;

          &::before {
            width: 8px;
            height: 8px;
          }
        }
      }
    }

  }

}